<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770166546922-p3t2sibrks605saaq9pcsnhf8548roqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770166546922-p3t2sibrks605saaq9pcsnhf8548roqv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>770166546922-87h6ej7h8jfch89p7a6eiuobc6gebqoo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDAN2Ox8WqBqXre1TCZCOpWJp2a1cFVXCw</string>
	<key>GCM_SENDER_ID</key>
	<string>770166546922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whatsfordin</string>
	<key>PROJECT_ID</key>
	<string>whats-for-din-83615</string>
	<key>STORAGE_BUCKET</key>
	<string>whats-for-din-83615.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770166546922:ios:a228b90e445fcbac32d293</string>
	<key>DATABASE_URL</key>
	<string>https://whats-for-din-83615-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>